header {
  background-color: #2B2D42; /* igual que las tarjetas */
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

/* Título principal */
header h1 {
  color: #F9A826; /* dorado cálido */
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

/* Navegación (Películas | Ejercicios) */
nav a {
  color: #B8C1EC; /* gris lavanda */
  text-decoration: none;
  font-weight: 500;
  margin-left: 25px;
  font-size: 1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #00ADB5; /* celeste petróleo */
}