.footer {
  background-color: #1e1e2f;
  color: white;
  text-align: center;
  padding: 12px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  border-top: 2px solid #007acc;
}

p {
  margin: 0;
}
